.container {
  height: 100vh;
  width: 100vw;
  background: teal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c{
  height: 100px;
  background: orange;
  position: sticky;
  top: 30px;
  z-index: 10;

}

.container > div {
  background: coral;
  height: 400px;
  width: 400px;

  position: sticky;
  top: 10px;
}

.container > div > div {
  background: yellow;
  height: 100px;
  width: 100px;

  /* z-index: 20; */
}
